@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: #98d1b0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1F3D2C;
}

h2 {
    color: #346649;
}

h1#principal {
    text-align: center;
    background-color: #1F3D2C;
    color: white;
}

.basico {
    color: #2f6646;
}

.intermediario {
    color: #666134;
}

.avancado {
    color: #663434;
}
